body {
    background-color: #f2f0eb;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.inter-tight-header {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -0.05em;
}

.inter-tight-subheader {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.inter-tight-smallheader {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    letter-spacing: -0.05em;
}

.inter-tight-guideresult {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    text-decoration: none;
}

.PageContent {
    margin-top: 1rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.NavBar {
    border-radius: 15px;
    background-color: #ffffff;
    filter: drop-shadow(1px 2px 4px #d8d8d9);
}

.navbar {
    border-radius: 10px;
    border: 1px solid #203171;
    background-color: #ffffff;
}

.OuterCard {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #203171;
    filter: drop-shadow(1px 2px 8px #b4b4b5);
    box-shadow: 0px 4px #203171;
}

.OuterCard.secondary {
    background-color: #f9f9ff;
}

.OuterCard.error {
    /* background-color: #f9cec5; */
    box-shadow: 0px 4px #f13c1f;
}

.InnerCard {
    border: 2px dotted rgb(54, 54, 54);
}

.list-group-item:hover {
    cursor: pointer;
}

.nav-link {
    text-decoration: dashed;
    color: blue;
    cursor: pointer;
    display: inline;
}

.btn-small {
    max-height: 25px; /* Ensure the button doesn't exceed this height */
    padding: 4 10px; /* Padding on the sides; adjust as needed */
    line-height: 1; /* Ensures text doesn't add extra height */
    display: flex; /* Flexbox for alignment */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    font-size: 14px; /* Adjust the font size as needed */
}

/* Add margin below elements that overlap in XS viewports */
@media (max-width: 575.98px) {
    .mb-xs-3 {
        margin-bottom: 1rem; /* Adjust as needed */
    }
}
